@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kanit&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --dark-blue: #083344;
    --mid-dark-blue: #155e75;
    --teal: #5eead4;
    --white: #ecfeff;
}

body {
    background-color: var(--dark-blue);
    color: var(--white);
    font-family: 'Indie Flower', cursive;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header {
    background-color: var(--mid-dark-blue);
    padding: 15px;
    margin: 20px 10px 5px 10px;
    border-radius: 20px;
    margin-bottom: 5x;
    font-size: clamp(15px, 1.5rem, 1.8rem);
    box-shadow: 0px 0px 10px var(--teal);
}


.header:hover {
    transition-duration: .5s;
    box-shadow: 0px 0px 12px var(--teal);
}

.subhead {
    font-size: 2rem;
    text-align: center;
}

.gameboard {
    background-color: var(--mid-dark-blue);
    display: grid;
    border: solid 3px var(--teal);
    height: 500px;
    width: 500px;
    grid-template: repeat(3, 1fr)/repeat(3,1fr);
}

.game-cell {
    border: solid 3px var(--teal);
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-cell:hover {
    cursor: pointer;
}

@media (max-width: 500px) {
    .gameboard {
        height: 250px; /* Set the height relative to the viewport width */
        width: 250px; /* Set the width relative to the viewport width */
    }
    .game-cell {
        font-size: 3rem;
    }
}

button {
    box-shadow: 0px 0px 6px var(--teal);
    font-weight: 700;
    padding: 15px 25px 15px 25px;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    background-color: var(--mid-dark-blue);
    color: var(--white);
    border: none;
    border-radius: 20px;
}

button:hover {
    transition-duration: .5s;
    box-shadow: 0px 0px 12px var(--teal);
    cursor: pointer;
}

.modal {
    background-color: var(--dark-blue);
    position: absolute;
    top: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    font-size: 1.4rem;
    border: none;
}

.modal-header {
    background-color: var(--mid-dark-blue);
    padding: 15px;
    margin: 20px 10px 5px 10px;
    border-radius: 20px;
    margin-bottom: 5x;
    font-size: clamp(15px, 1.5rem, 1.8rem);
    box-shadow: 0px 0px 10px var(--teal);
    color: var(--white);
    text-align: center;
    align-self: center;
}

.modal-header h1 {
    margin: 0px;
    padding: 0px;
}

#modal::backdrop {
    background: #083344;
}

.modal-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    min-width: 320px;
    padding: 25px;
}

.modal-box p {
    font-size: 1.7rem;
    margin-top: 10px;
}

.form-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    height: 2.3rem;
    font-family: inherit;
    font-size: 1.3rem;
    padding: 10px;
    background-color: var(--dark-blue);
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: solid 1px var(--teal);
    color: var(--white);
}

input:focus {
    outline: none;
}    

.form-box button {
    width: 50%;
    align-self: center;
    margin-top: 20px;
}

@media (max-width: 320px) {
    input {
        height: 2.5rem;
        width: 12rem;
    }

    .modal-header {
        font-size: 1.3rem;
        margin: 0px;
        align-self: flex-start;
    }

    .form-box button {
        align-self: flex-start;
    }

    .modal-box {
        margin: 0px;
        padding: 0px;
    }
}

.modal-win {
    position: absolute;
    top: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    font-size: 1.4rem;
    border: none;
}

.modal-win::backdrop {
    background-color: white;
    opacity: .3;
}

.modal-win div {
    background-color: var(--dark-blue);
    width: 20vw;
    margin: 0px;
    border: 3px solid var(--teal);
    padding: 30px 15px 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.winning-player {
    font-size: 2rem;
}

